.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10rem;
    color: #ffffff;
}

.card>img{
    width: 5rem;
    height: 5rem;
}
.card + .card {
border-left: solid 1px #0000001e
}
.name{
    background-color: #0000001e;
    padding: 0.25rem 0.75rem;
    border-radius: 9999px;
    font-weight: 700;
}
.temp{
display: flex;
flex-direction: column;
width: 3rem;
justify-content: center;
text-align: center;
}
.temp + .temp {
    margin-left: 1rem;
}
.temps{
    display: flex;
    
}
    


